# Libraries used for running the SDD pipeline
# Package versions frozen as of 17OCT2024
# Based on Python version below
# Python version = 3.10.0

# Data manipulation
numpy==1.22.0
pandas==1.5.2
sidetable==0.9.0

# Read in SPSS data
pyreadstat==1.1.4

# R integration (note - R needs to be installed separately)
rpy2==3.4.5

# Excel output
xlwings==0.24.9
openpyxl==3.0.09
pywin32==302
XlsxWriter==3.0.3

# Word outputs (if needed)
# python-docx==0.8.11
# docx-mailmerge==0.5.0

# SQL
sqlalchemy==1.4.32
pyodbc==4.0.32

# Testing
pytest==7.1.3
pytest-html==3.1.1

# Additional dependencies of the above packages
importlib-resources==5.4.0
pathlib==1.0.1
simplegeneric==0.8.1
tzlocal==4.1
pyarrow==12.0.1
